.carousel-wrapper {
    width: 80%;
  }

  .responsive-image {
    position: relative;
    width: 100%;
    padding-bottom: 160%; 
  }
  
  .responsive-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .carousel-image {
    height: 450px; 
    object-fit: cover;
  }

  .poplogoNav {
    width: 110px;
  }

 .page-wrapper {
    background-color: black;
  }

  .full-width-row {
    width: 100%;
    align-items: center;
  }

  .left-column {
    display: flex;
    justify-content: flex-start;
  }

  .right-column {
    display: flex;
    justify-content: flex-end;
  }
  
  .middle-column {
    display: flex;
    justify-content: space-between;
  }
 

  .menu-top-link {
    color: white;
    text-decoration: none;

  }

  h1 {
    text-align: center;
  }

  .likeDislike {
    display: flex;
    justify-content: center;
  }

  .pop-login {
    text-align: center;
  }

  .errorContainer {
    text-align: center;
  }