.carousel-wrapper {
    width: 70%;
  }

  .responsive-image {
    position: relative;
    width: 100%;
    padding-bottom: 160%; 
  }
  
  .responsive-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .carousel-image {
    height: 700px; 
    object-fit: cover;
  }
  
